/* This file contains the styles for the Cards component */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  }

.command-card {
    background-color: #c5c5c5;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

input[type="text"]{
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    width: 60%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.command-card h3 {
    font-size: 1.5rem;
}

.command-card p {
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}
