/* Footer styles */
footer {
    background-color: #242424;
    padding: 20px;
    text-align: center;
    color: #e2e2e2;
    padding: 4em;
}



.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 500;
}


.footer-links a {
    color: #c1cfec;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
    transition: 0.2s;
    position: relative;
}

.footer-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #c1cfec;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #a0a7b4;
}

.footer-links a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

footer a {
    color: #c1cfec;
    text-decoration: none;
}

